<div class="col l6 s12">
  <div class="container">
    <div class="row center">
      <h1 style="color: #ff9800;">Getting Started</h1>
      <br>
      <p style="text-align: justify">
        We have organized a series of activities into projects in order to help
        in getting you started. The easiest way to verify that you have set up
        your account properly is to start with the first project and proceed
        from there. The sensors we use as examples are part of the SunFounder
        sensor kit, but any sensor would work. Let's start with Projects 1 and
        2 to verify the Pi is set up properly.
      </p>
      <br><br>
      <h4 style="color: #ff9800;">Project 1</h4>

      <ol style="text-align: left;">
        <li>Log into your account and take note of your API key.
          This key will allow you to upload data to Sensoree.
          Start out by adding a new sensor of type Internet.
          Technically not a sensor,
          we'll start out by having the Pi send ping data to the servers.
          A ping is a way to test connectivity across the Internet.
          The Raspberry Pi will ping a server,
          and then send to Sensoree,
          the amount of time it took to reach that server
          (measured in milliseconds).</li>
        <li>On the Raspberry Pi,
          you may need to reinstall the ping utility if
          your user account doesn't have access.
          By default, the user pi, doesn't have access.
          You can give pi access by issuing:</li>
      </ol>
      <div class="indented-steps">
        <div class="code-text">sudo apt-get install --reinstall iputils-ping</div>
        <div>Test the ping: <span class="code-text">ping google.com</span></div>
        <div>Go to the following link to retrieve the full source code. link</div>
      </div>

      <h4 style="color: #ff9800;">Project 2</h4>


    <ol style="text-align: left;">
      <li>After validating that the previous project is sending data to Sensoree,
        let's now configure a temperature sensor from the Sunfounder kit.
        Start out by cloning the wiringPi repsitory from GitHub.
        <span class="code-text">git clone git:://git.drogon.net/wiringPi</span>
        <li>Install wiringPi: <span class="code-text">cd wiringPi</span></li>
        <li><span class="code-text">git pull origin ./build</span></li>
        <li>Now edit the <span class="code-text">/boot/config.txt</span> file to add hardware access
          through <span class="code-text">/sys/bus</span> directory.</li>
        <li>Add the following to the <span class="code-text">/boot/config.txt</span> file: <span class="code-text">dtoverlay=w1-gpio</span></li>
        <li>Reboot your device: <span class="code-text">sudo reboot</span></li>
        <li>After the device has been rebooted, issue the following commands
          to mount the device drivers:
          <ol>
            <li><span class="code-text">sudo modprobe w1-gpio</span></li>
            <li><span class="code-text">sudo modprobe w1-therm</span></li>
          </ol>
        </li>
        <li>  Now connect the thermometer sensor to the Pi. Navigate to the
          device directory:
          <span class="code-text">cd /sys/bus/w1/devices/ls</span>
        </li>
        <li>Have a look at the devices shown,
          there should be a numeric directory such as <span class="code-text">28-041623a757ff</span>.
          Change to that directory: <span class="code-text">cd 28-041623a757ff</span></li>
        <li>To display a reading, issue the following command,
          while in that directory: <span class="code-text">cat w1_slave</span></li>
        <li>The following output, verifies a reading (your output will be slightly different):
          <div class="indented-steps">7a 01 4b 46 7f ff 0c 10 ec : crc=ec YES
          7a 01 4b 46 7f ff 0c 10 ec t=23625</div>
        </li>
        <li>Dividing the t value by 1000 gives the Celsius reading.
          Now in order to send these values to Sensoree,
          go to the following link to download the source code. link</li>
      </ol>


        <h4 style="color: #ff9800;">Project 3</h4>
          <ol style="text-align: left;">
            <li>Ultrasound sensor.

            link</li>
          </ol>




      </p>
    </div>
  </div>
</div>
