
<%# render :partial => "header" %>

<div class="parallax-container">
  <div class="section no-pad-bot" class="background-image">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Sensoree</h1>
      <div class="row center">
        <h5 class="header col s12 light" >Your sensor data in the cloud. If you have a Raspberry Pi, Arduino, or any other type of device that is collecting data for you, Sensoree can aggregate and display the data for you.</h5>
      </div>
      <div class="row center">
        <%= link_to 'Register', new_user_path, class: "btn-large waves-effect waves-light orange" %>
      </div>
      <br><br>

      </div>
    </div>
  <div class="parallax"><img src="/assets/thumb_ras_pi_1.jpg"></div>
</div>
