
<%# render :partial => "header" %>


<div class="section no-pad-bot" class="background-image" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Sensoree</h1>
    <div class="row center">
      <h5 class="header col s12 light">Your sensor data in the cloud. If you have a Raspberry Pi, Arduino, or any other type of device that is collecting data for you, Sensoree can aggregate and display the data for you.</h5>
    </div>
    <div class="row center">
      <%= link_to 'Register', new_user_path, class: "btn-large waves-effect waves-light orange" %>
    </div>
    <br><br>

  </div>
</div>


<!-- <div id="section-2" class="section no-pad-bot">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Sensor Data Storage</h1>
      <div class="row center">
        <h5 class="header col s12 light">Sensoree can also send notifications. Capture temperature, motion, distance, or any other type of data through device sensors and upload it using our simple to use API.</h5>
      </div>
      <div class="row center">
    </div>
      <br><br>
    </div>
  </div>
</div> -->
