
<%# render :partial => "header" %>

<div class="parallax-container" style="background: rgba(0, 0, 0, 0.475);">
  <div class="section no-pad-bot" class="background-image">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Sensoree</h1>
      <div class="row center">
        <h5 class="header col s12 light" >Your sensor data in the cloud. If you have a Raspberry Pi, Arduino, or any other type of device that is collecting data for you, Sensoree can aggregate and display the data for you.</h5>
      </div>
      <div class="row center">
        <%= link_to 'Register', new_user_path, class: "btn-large waves-effect waves-light orange" %>
      </div>
      <br><br>

      </div>
    </div>
  <div class="parallax"><img src="/assets/thumb_ras_pi_2.jpg"></div>
</div>

<!--   Icon Section   -->
<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
      <h5 class="center">Built for Builders</h5>

      <p class="light">Set up your Internet of Things device to interface to the world. Then, send the data to Sensoree to display and connect with other services.</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">group</i></h2>
      <h5 class="center">Share you data</h5>

      <p class="light">You'll be able to display your data with the world by setting any of your sensors as public, or keep it private and secure.</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">settings_remote</i></h2>
      <h5 class="center">Any connection</h5>

      <p class="light">How you connect doesn't matter. Set up your device to connect via wi-fi or cellular. As long as your device can reach our app's address, you can send data.</p>
    </div>
  </div>
</div>


</div>
</div>

<div class="parallax-container valign-wrapper" style="background: rgba(0, 0, 0, 0.475);">
<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 light">Run through our projects to get started. Monitor your temperature, check when someone arrives at your home, build it yourself.</h5>
    </div>
  </div>
</div>
<div class="parallax"><img src="/assets/thumb_ras_pi_4.jpg" ></div>
</div>
