<div class="section no-pad-bot" id="index-banner">
  <div class="container">

    <h1 class="header center orange-text">Edit Sensor</h1>
    <div class="row center">
      <h5 class="header col s12 light">

        <%= render 'sensor' %>

      </h5>
    </div>
  </div>
</div>
<% [:info, :error].each do |key| %>
  <% if flash[key] %>
  <div class="<%= key %>" id="flash">
    <%= flash[key] %>
  </div>
  <% end %>
<% end %>
